In [1]:
import pandas as pd
import numpy as np
#pip install xgboost

In [2]:

d=pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

In [3]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [4]:
t = pd.read_csv("titanic.csv")
t.shape
t.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S

In [5]:
t.describe()

,pclass,survived,age,sibsp,parch,fare
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200

In [6]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   float64
 1   survived  1309 non-null   float64
 2   name      1309 non-null   object
 3   sex       1309 non-null   object
 4   age       1046 non-null   float64
 5   sibsp     1309 non-null   float64
 6   parch     1309 non-null   float64
 7   ticket    1309 non-null   object
 8   fare      1308 non-null   float64
 9   cabin     295 non-null    object
 10  embarked  1307 non-null   object
dtypes: float64(6), object(5)
memory usage: 112.7+ KB

In [7]:
t["cabin"][0:10]

0         B5
1    C22 C26
2    C22 C26
3    C22 C26
4    C22 C26
5        E12
6         D7
7        A36
8       C101
9        NaN
Name: cabin, dtype: object

In [8]:
t.iloc[5:10]
t.iloc[5]
#t.iloc[5:10,0] or t["pclass"][5:10,0]
t.iloc[[1,2],[0]]
t[["pclass","survived"]].iloc[4]
#note
#you can only use iloc if you want to retrieve single row
t.iloc[1,2]

'Allison, Master. Hudson Trevor'

In [9]:

d=pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
d["Bob"]
d.loc['Product A',"Bob"]

'I liked it.'

## Manipulation

In [10]:
# set_index makes any column to index
#d.set_index("Sue",inplace=True)
# reset_index will make index as column and drop can be added to avoid that
#d.reset_index(drop=True,inplace=True)

In [11]:
t[(t["sex"]=="male") & (t["age"]>=27)]
t[(t["sex"]=="male") | (t["age"]>=27)]
t[t.pclass.isin(['1', '2'])]
t[t["pclass"].notnull()]

t[["c1","c2","c3"]][0:10]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S
...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S

In [12]:
t['sex'] = 'everyone'
t['index_backwards'] = range(len(t), 0, -1)
t['index_for']=np.nan
t

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,index_backwards,index_for
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",everyone,29.0000,0.0,0.0,24160,211.3375,B5,S,1310,NaN
1,1.0,1.0,"Allison, Master. Hudson Trevor",everyone,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,1309,NaN
2,1.0,0.0,"Allison, Miss. Helen Loraine",everyone,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,1308,NaN
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",everyone,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,1307,NaN
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",everyone,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,1306,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",everyone,NaN,1.0,0.0,2665,14.4542,NaN,C,5,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",everyone,26.5000,0.0,0.0,2656,7.2250,NaN,C,4,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",everyone,27.0000,0.0,0.0,2670,7.2250,NaN,C,3,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",everyone,29.0000,0.0,0.0,315082,7.8750,NaN,S,2,NaN
1309,NaN,NaN,NaN,everyone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [13]:
t["survived"].mean()
t["survived"].unique()
t["survived"].value_counts()
t["index_backwards"].map(lambda p: p - 10)

0       1300
1       1299
2       1298
3       1297
4       1296
        ...
1305      -5
1306      -6
1307      -7
1308      -8
1309      -9
Name: index_backwards, Length: 1310, dtype: int64

In [14]:
def addre(x):

     return x+10

In [15]:
t["index_backwards"].apply(addre)
t[["index_backwards","fare"]].apply(np.sum,axis=0)

index_backwards    858705.0000
fare                43550.4869
dtype: float64

In [16]:
print((t["name"])+"-----------------"+( t["sex"]))

0       Allen, Miss. Elisabeth Walton-----------------...
1       Allison, Master. Hudson Trevor----------------...
2       Allison, Miss. Helen Loraine-----------------e...
3       Allison, Mr. Hudson Joshua Creighton----------...
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels...
                              ...
1305       Zabour, Miss. Thamine-----------------everyone
1306    Zakarian, Mr. Mapriededer-----------------ever...
1307         Zakarian, Mr. Ortin-----------------everyone
1308          Zimmerman, Mr. Leo-----------------everyone
1309                                                  NaN
Length: 1310, dtype: object

In [17]:
t.groupby("pclass").ticket.max()
t.groupby("pclass").ticket.min()
t.groupby("pclass").ticket.count()

pclass
1.0    323
2.0    277
3.0    709
Name: ticket, dtype: int64

In [18]:
#t.columns
#t[["pclass","fare"]]

(t.isnull().sum())

pclass                1
survived              1
name                  1
sex                   0
age                 264
sibsp                 1
parch                 1
ticket                1
fare                  2
cabin              1015
embarked              3
index_backwards       0
index_for          1310
dtype: int64

In [19]:
s=t.dtypes == 'object'
x=t[list(s[s].index)]

train[train.columns[train.isnull().any()]].isnull().sum() * 100 / train.shape[0]

In [20]:
np.sum([2,4])
2+4

6

In [21]:
pd.Series(np.arange(1,101)).describe()

count    100.000000
mean      50.500000
std       29.011492
min        1.000000
25%       25.750000
50%       50.500000
75%       75.250000
max      100.000000
dtype: float64

In [22]:
jack = pd.read_csv("titanic.csv")

jack.dropna(subset=["survived"],inplace=True)
jack["survived"].isnull().sum()

0

In [23]:
# Divide data into training and validation subsets
from sklearn.model_selection import train_test_split
y=jack["survived"]
X=jack.drop(["survived"],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [46]:
categorical_cols = [cname for cname in X_train.columns if X_train[cname].nunique() < 10 and 
                        X_train[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train.columns if X_train[cname].dtype in ['int64', 'float64']]

In [25]:
y.isna().sum()

0

In [47]:
my_cols = categorical_cols + numerical_cols
X_train = X_train[my_cols].copy()
X_test = X_test[my_cols].copy()

In [45]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [48]:
from sklearn.ensemble import RandomForestClassifier

model1 = RandomForestClassifier(n_estimators=100, random_state=0)

from sklearn.linear_model import LogisticRegression
model2=LogisticRegression()

from sklearn.svm import LinearSVC
model3=LinearSVC(random_state=0, tol=1e-5)

from xgboost import XGBRegressor
from xgboost import XGBClassifier
model4 = XGBClassifier()

model5 = XGBClassifier(n_estimators=1000, learning_rate=0.05, n_jobs=4)

In [49]:
model5.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_test, y_test)],
             verbose=False)

ValueError: DataFrame.dtypes for data must be int, float, bool or categorical.  When
                categorical type is supplied, DMatrix parameter
                `enable_categorical` must be set to `True`.sex, embarked

In [50]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import confusion_matrix

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model1)])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
y_predicted = my_pipeline.predict(X_test)

# Evaluate the model
score = confusion_matrix(y_test, y_predicted)
print('MAE:', score)

MAE: [[145  17]
 [ 39  61]]

In [53]:
print(my_pipeline.feature_importances_)

AttributeError: 'Pipeline' object has no attribute 'feature_importances_'

In [42]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score

# Accuracy
print(accuracy_score(y_test, y_predicted))
# Precision
print(precision_score(y_test, y_predicted))
# Recall
print(recall_score(y_test, y_predicted))
# F1-score
print(f1_score(y_test, y_predicted))
# F-beta-score
print(fbeta_score(y_test, y_predicted,beta=10))

0.8091603053435115
0.7976190476190477
0.67
0.7282608695652173
0.671063070210234

In [43]:
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(my_pipeline, X, y,
                              cv=5,
                              scoring='neg_mean_absolute_error')

print("MAE scores:\n", scores)
print(np.mean(scores))

C:\Users\ashwi\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:02:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\ashwi\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:02:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\ashwi\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:03:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\ashwi\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:03:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\ashwi\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:03:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
MAE scores:
 [0.50381679 0.27862595 0.32061069 0.30152672 0.35249042]
0.3514141148255388